<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/pnotify__bootstrap4/5.1.2/dist/PNotifyBootstrap4.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/pnotify__core/5.1.2/dist/PNotify.css}"/>
    <title th:text="${#messages.msgOrNull(title)}"></title>
</head>
