/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

.auctions-container{
    max-width: 100% !important;
    width: 100%
}

.auctions-description{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100ch;
}

.auctions-page-link{
    background: dodgerblue;
    color: white;
}

.create-auction-price-wrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.create-auction-col{
    width: fit-content;
}

.create-auction-form-check{
    float: right;
}

.create-auction-check-input{
    height: 20px;
    width: 20px;
}

.px-8{
    padding: 0px 8px;
}

.return-button{
    width: 50px;
}

.home-button{
    color: #fff;
    width: 20px;
}

.home-button:hover{
    color: #1e90ff;
}

.price-offer-form{
    width: 300px;
}
