<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head(title='auctions.title')"></head>
<body>
<main role="main" class="container" style="max-width: 100% !important; width: 100%">
    <div class="container-fluid d-flex flex-column justify-content-center" style="max-width: 100% !important; width: 100%">
        <h2 th:text="#{auctions.title}" style="padding: 16px 0px"></h2>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="#{auction.name}"></th>
                <th scope="col" th:text="#{auction.description}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="auction : ${auctions}">
                <td th:text="${auction.getTitle()}"></td>
                <td th:text="${auction.getDescription()}" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; max-width: 100ch"></td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example" th:if="${auctions.totalPages > 1}">
            <ul class="pagination">
                <li class="page-item" th:if="${auctions.hasPrevious()}">
                    <a class="page-link" th:href="@{/auctions(page=${auctions.number - 1},size=${auctions.size})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <th:block th:each="i: ${#numbers.sequence(0, auctions.totalPages - 1)}">
                    <li class="page-item">
                        <span class="page-link" th:if="${auctions.number == i}" th:text="${i+1}" style="background: dodgerblue; color: white"></span>
                        <span th:unless="${auctions.number == i}">
                            <a class="page-link" th:href="@{/auctions(page=${i},size=${auctions.size})}" th:text="${i+1}"></a>
                        </span>
                    </li>
                </th:block>
                <li class="page-item" th:if="${auctions.hasNext()}">
                    <a class="page-link" th:href="@{/auctions(page=${auctions.number+1},size=${auctions.size})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</main>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>