<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head(title='auctions.title')"></head>
<body>
<head th:replace="fragments/header.html :: header"></head>
<main role="main" class="container auctions-container">
    <div class="container-fluid d-flex flex-column justify-content-center auctions-container">
        <h2 class="py-2 jus" th:text="#{auctions.title}"></h2>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col" th:text="#{auction.name}"></th>
                <th scope="col" th:text="#{auction.description}"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="auction : ${auctions}">
                <td th:text="${auction.getTitle()}"></td>
                <td class="auctions-description" th:text="${auction.getDescription()}"></td>
                <td>
                    <a th:href="@{/auctions/{id}(id=${auction.getId()})}">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                            <circle cx="8" cy="4.5" r="1"/>
                        </svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <nav class="d-flex justify-content-between" th:if="${auctions.totalPages > 1}">
            <ul class="pagination">
                <li class="page-item" th:if="${auctions.hasPrevious()}">
                    <a class="page-link" th:href="@{/auctions(page=${auctions.number - 1},size=${auctions.size})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <th:block th:each="i: ${#numbers.sequence(0, auctions.totalPages - 1)}">
                    <li class="page-item">
                        <span class="page-link auctions-page-link" th:if="${auctions.number == i}" th:text="${i+1}"></span>
                        <span th:unless="${auctions.number == i}">
                            <a class="page-link" th:href="@{/auctions(page=${i},size=${auctions.size})}" th:text="${i+1}"></a>
                        </span>
                    </li>
                </th:block>
                <li class="page-item" th:if="${auctions.hasNext()}">
                    <a class="page-link" th:href="@{/auctions(page=${auctions.number+1},size=${auctions.size})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</main>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>