<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head(title='registration.title')"></head>
<body>
<main role="main" class="container">
    <div class="container-fluid d-flex h-100 p-3 mx-auto flex-column justify-content-center">
        <form method="post" action="/registration" th:object="${registrationUser}">
            <h2 th:text="#{registration.register}"></h2>
            <p>
                <label for="name" class="sr-only"><h2 th:text="#{registration.name}"></h2></label>
                <input th:field="*{name}" type="text" id="name" name="name" class="form-control"
                       th:placeholder="#{registration.name}" required  autofocus>
            </p>
            <div class="alert alert-danger" th:each="error: ${#fields.errors('name')}"
                 th:text="${error}"></div>
            <p>
                <label for="email" class="sr-only"><h2 th:text="#{registration.email}"></h2></label>
                <input th:field="*{email}" type="text" id="email" name="email" class="form-control" th:placeholder="#{registration.email}"
                       required>
            </p>
            <div class="alert alert-danger" th:each="error: ${#fields.errors('email')}"
                 th:text="${error}"></div>
            <p>
                <label for="password" class="sr-only"><h2 th:text="#{registration.password}"></h2></label>
                <input th:field="*{password}" type="password" id="password" name="password" class="form-control"
                       th:placeholder="#{registration.password}" required>
            </p>
            <div class="alert alert-danger" th:each="error: ${#fields.errors('password')}"
                 th:text="${error}"></div>
            <p>
                <label for="repeatPassword" class="sr-only"><h2 th:text="#{registration.repeatPassword}"></h2></label>
                <input type="password" id="repeatPassword" name="repeatPassword" class="form-control"
                       th:placeholder="#{registration.repeatPassword}" required>
            </p>
            <input
                    type="hidden"
                    id="csrf-token"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"/>
            <button class="btn btn-lg btn-primary btn-block" th:text="#{registration.register}" type="submit"></button>
        </form>
    </div>
</main>
<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>